body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

div#main-content { display: none; }

p, ul, li {
  font-size: 18px;
  text-align: left;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  color: #838383;
}

@media (max-width: 767px) {
  p {
    font-size:16px;
    line-height: 24px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #820263; 
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.img-centered {
  margin: 0 auto;
}

.bg-gray {
  background: #F5F5F5;
}

img {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

header {
  text-align: left;
  background: #fff;
  color: #333;
  height: 80vh;
  padding: 10% 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
header p {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 42px;
}


@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
}

.section-header {
  font-size: 9em;
  font-weight: 900;
  color: #222;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
  pointer-events: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

@media (max-width: 767px) {
  section {
    padding: 10% 10%;
  }
  section.first {
    padding-top: 75px;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d8d8d8;
  line-height: 3.1rem;
  border-radius: 3.5rem !important;
}

#mainNav {
  pointer-events: none;
}

#mainNav .container {
  max-width: 100%;
  padding: 0 10%;
  margin: 0;
}

#mainNav .navbar-brand {
  color: #000;
  font-family: 'Lato', sans-serif;
  pointer-events: auto;
  font-size: 16px;
}

#mainNav .navbar-nav {
  letter-spacing: 1px;
  pointer-events: auto;
  margin-right: -15px;
}

#mainNav .navbar-nav li {
  margin: 0 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #000;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 15px !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #820263;
  outline: none;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #820263;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #820263;
  background: none;
}

#mainNav .navbar-toggler {
  font-size: 18px;
  padding: 0.8rem 0 0.8rem 0.8rem;
  pointer-events: auto;
}

#mainNav .navbar-toggler:hover {
  color: #820263;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 80px 0;
    -webkit-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #820263;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #820263;
  }
  #mainNav.navbar-shrink {
    padding: 50px 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 21px;
  }
}

@media (max-width: 992px) {
  #mainNav {
    padding: 50px 0;
    -webkit-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link {
    text-align: right;
  }
}

#about {
    bottom: 0;
    display: block;
    overflow: scroll;
    max-width: 50%;
    margin-top: 20%;
    margin-bottom: 50px;
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
}
#about p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
@media (max-width: 767px) {
  #about {
    max-width: 90%;
  }
}

#headshot-link {
  font-size: 18px;
  border-bottom: 1px #820263 dashed;
  cursor: pointer;
  width: 40px;
}

#headshot-link > img {
  opacity: 0;
  position: absolute;
  right: 9%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#headshot-link:hover > img {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 10%;
}
#headshot-link > img:hover {
  opacity: 0;
  cursor: auto;
}

@media (max-width: 767px) {
  #headshot-link:hover > img {
    opacity: 0;
  }
}


#work {
  margin-bottom: 0px;
}

#work .section-header{
  margin-bottom: -5px;
}

#work .portfolio-item {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  -webkit-clip-path: inset(0px 0px 0px 0px);
          clip-path: inset(0px 0px 0px 0px);
  width: 100%;
  padding:40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 767px) {
  .case-study {
    margin: 0 0 50px 0;
  }

  #work .portfolio-item {
    max-height: 50vh;

  }
}

@media (min-width: 767px) {
  #work .portfolio-item {
    margin: 0 0 0px;
  }
}

#work .portfolio-item .portfolio-item-caption {
  color:#000;
  position: absolute;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  left:5%;
  top:8%;
}

#work .portfolio-item:hover .portfolio-item-caption {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
#work .portfolio-item .portfolio-item-caption h3 {
  font-size: 24px;
}

/*MINDFUL MAMAS*/

#case-study-bg-mindful-mamas {
  height: 80vh;
  background: rgba(249,173,170,0);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

#case-study-bg-mindful-mamas:hover {
  background: rgba(249,173,170,0.2);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
#mindful_mamas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

#case-study-bg-mindful-mamas:hover #mindful_mamas {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

#mindful_mamas #n-mobile {
}

#mindful_mamas #n-desktop {
  position: absolute;
  width: 120%;
  left: -10%;
}

#mindful-mamas-header {
  background: #F9ADAA;
}

/*NOTIFICATIONS*/

#case-study-bg-notifications {
  height: 80vh;
  background: rgba(74,144,226,0);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

#case-study-bg-notifications:hover {
  background: rgba(74,144,226,0.2);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
#notifications_solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width:100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

#case-study-bg-notifications:hover #notifications_solution {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

#notifications_solution #n-mobile {
  z-index: 1;
  width: 20%;
  margin-bottom: -46%;
  margin-left: 24%;
}

#notifications_solution #n-desktop {
  position: absolute;
  width: 96%;
  margin-top: 10%;
  margin-left: 19%;
}

/*KODOS*/

#case-study-bg-kodos {
  height: 80vh;
  background: rgba(58,207,35,0);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
#case-study-bg-kodos:hover {
  background: rgba(58,207,35,0.2);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
#case-study-bg-kodos img {
  width: 82%;
  margin-top: 42%;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}
#case-study-bg-kodos:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

/*INGESTION*/

#case-study-bg-ingestion {
  height: 80vh;
  background: rgba(225,202,0,0);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

#case-study-bg-ingestion:hover {
  background: rgba(225,202,0,0.2);
  -webkit-transition: background 0.35s, -webkit-transform 0.35s;
  transition: background 0.35s, -webkit-transform 0.35s;
  -o-transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s;
  transition: background 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

#ingestion_solution {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
  position: absolute;
  width: 98%;
  right: -150px;
  top: 150px;
}
#case-study-bg-ingestion:hover #ingestion_solution {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

#ingestion_solution img {
  width: 100%;
}

#ingestion_solution video {
  z-index: 1;
  width: 68.2%;
  position: absolute;
  top: 11.4%;
  left: 15.8%;
}

#work .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}

#work .portfolio-item .portfolio-item-caption {
  z-index: 1;
  color:#000;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

#work .portfolio-item:hover .portfolio-item-caption {
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

@media (min-width: 767px) {
  #work .portfolio-item {
    margin: 0 0 0px;
  }
}

/**************** MODAL STYLES ****************/

.mfp-container {
  padding: 0;
}

.mfp-bg {
  background: white;
  opacity: 1;
}

.portfolio-modal .portfolio-modal-dialog {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  position: relative;
  z-index: 2;
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.portfolio-modal .portfolio-modal-dialog .close-button:hover {
  opacity: 0.3;
}
.portfolio-modal .portfolio-modal-dialog .close-button .lr {
  height: 40px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .portfolio-modal-dialog .close-button .lr .rl {
  height: 40px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

/**************** CASE STUDY STYLES ****************/

.case-study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 200px;
}

.case-study:last-child {
  margin-bottom: 0px;
}

.case-study-section {
  padding: 80px 20%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.case-study-section.header {
    height: 90vh;
    padding: 80px 20%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.case-study-section.header h2 {
  margin: 0 0 10px 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.case-study-section.header p {
  color: #f5f5f5;
}

@media (max-width: 767px) {
  .case-study-section {
    padding: 40px;
  }
  .case-study-section.header {
    height: 20vh;
  }
  .case-study-section.header h2 {
    font-size: 3em;
  }
  #notifications-badge { 
    margin-right: -350px;
    margin-top: -45px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.case-study-section.full{
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-study-section.full img{
  width: 100%;
}

.case-study-section-title {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.case-study-section-body {
  margin-top: 20px;
  text-align: left;
}

.case-study-requirement-title {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.case-study-requirement-body {
  margin-top: 20px;
  text-align: left;
}

.case-study-requirement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-top: 80px;
}

.case-study-requirement img {
  width: 30%;
  margin-right:50px;
}
.case-study-requirement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

#portfolioModal3 .case-study-requirement img {
  width: 50%;
}

@media (max-width: 767px) {
  .case-study-requirement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .case-study-requirement img, #portfolioModal3 .case-study-requirement img {
    width: 100%;
    margin: 0 0 50px;
  }
}

.case-study-decision-title {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.case-study-decision-body {
  margin-top: 20px;
  text-align: left;
}

.case-study-decision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-top: 80px;
}
.case-study-decision img {
  width: 350px;
  margin-left:50px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.case-study-decision div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

@media (max-width: 767px) {
  .case-study-decision {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .case-study-decision img {
    width: 100%;
    margin: 50px 0 0 0;
  }
}

#notifications-header {
  background: #4A90E2;
}

#notifications-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: red;
  margin-left: 234px;
  margin-top: -35px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

#kodos-header {
  background: #34B233;
}

#ingestion-header {
  background: #FFCA00;
}

/**************** FOOTER STYLES ****************/
footer {
  padding:30px 0;
}

footer #sign-off {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18% 10%;
}
footer #sign-off p, #sign-off p > a {
  font-size:20px;
  line-height:30px;
  font-family: "Lato", sans-serif;
}
#sign-off p > a {
  color:#820263;
}

footer p, footer a{
  text-align: center;
  font-size: 12px;
  color: #838383;
}



a {
  color: #18BC9C;
  font-size: inherit;
}

a:focus, a:hover, a:active {
  color: #128f76;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #18BC9C !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
